@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
/* css reset */ 
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    max-width: 100%;
    box-sizing: border-box;
    transition: background-color 0.5s;
}

/* set up color scheme */
:root {
    --primary-color: #e5e5e5;
    --secondary-color: darkblue;
    --accent-color: crimson;
    --alternative-color: black;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Rubik Maze', fantasy;
}

h2 {
    font-family: 'Alice', 'Times New Roman', Times, serif;
}

/* default (mobile-first) style rules */
/* header styling */
header {
    text-align: center;
}

header h1 {
    color: var(--accent-color);
    font-size: calc(1rem + 3vw);
    padding: .5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    display: block;
    padding: .5em;
    font-size: calc(1rem + 1vw);
    border: 1px solid var(--secondary-color);
    text-decoration: none;
}

nav a[aria-current="page"]{
    opacity: 0.6;
    box-shadow: inset 0 -.15em var(--accent-color);
}

nav a:hover {
    border: 2px solid var(--accent-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: -1px;
}

/* styling the main section */
main:not(.two-col) article{
    grid-column: 1 / 3;
}
main {
    font-size: calc(1rem + 1vw);
    text-align: center;
}

main h2 {
    font-size: calc(1rem + 2vw);
    text-align: center;
    padding: .25em;
    color: var(--accent-color)
}

figure.avatar {
    max-width: 60%;
    margin: auto;
    padding-bottom: 1em;
}

/* styling the footer */
footer {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    display: inline;
}

/* Style all font awesome icons */
.fa {
    padding: 1em;
    font-size: 1em;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.fa-linkedin {
    background: darkblue;
    color: white;
}

/* gallery styling */

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 3rem;
  }
  
  #gallery img {
  }
  
  #gallery figure {
    flex: 1 0 100%;
    border: 1px solid var(--secondary-color);
    margin-bottom: 1em;
  }
  
  #gallery h2 {
    color: #00B172;
  }
  
  #gallery p {
    padding: 0 4rem;
  }

/* contact styling */
#my-email-form {
    text-align:left;
    width: 60%;
    overflow: hidden;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:1em;
}
#my-email-form div {
    margin-bottom: .5em;
}
#my-email-form input, #my-email-form textarea{
    /*margin-bottom: .5em;*/
    background-color: rgba(100,100,100,.1);
}

#my-email-form input:focus, #my-email-form textarea:focus{
    /*margin-bottom: .5em;*/
    background-color: rgba(255, 255, 255, .3);
}
#my-email-form #send {
    grid-row: 3;
    margin-top: -1em;
}

#my-email-form button {
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    background-color: inherit;
    color: var(--secondary-color);
    padding: .25em;
}
#my-email-form button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
    cursor: pointer;
    border: 3px solid var(--secondary-color);
    margin: -1px;
}
#my-email-form label[for="from"]{
    grid-row: 1;
    grid-column: 1;
}
#my-email-form #email {
    grid-row:1;
    display:grid;
}
#my-email-form label[for="body"] {
    grid-row:1;
    vertical-align: top;
}
#my-email-form #message {
    grid-row:2;
    width: 100%;
    display:grid;
}  
/* set up responsive styling for larger screens */
/* tablet styling */
@media screen and (min-width: 30em) and (max-width: 48em){
    nav ul{
        display: flex;
    }

    nav li{
        flex: 1;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main h2 {
        grid-row: 1;
        grid-column: 1 / 3;
    }

    main figure {
        grid-row: 2;
        grid-column: 1;
    }

    main article {
        padding: 1em;
        grid-row: 2;
        grid-column: 2;
    }

    #gallery {
        grid-column: 1 / 3;
    }

    #gallery figure {
        flex: 1 0 42%;
        border: 1px solid var(--secondary-color);
        margin: 1em;
    }

    #my-email-form {
        grid-column: 1 / 3;
    }

}

/* pc styling */

@media screen and (min-width: 49em){
    nav ul{
        display: flex;
    }

    nav li{
        flex: 1;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 1em;
    }

    main h2 {
        padding-top: 1em;
        grid-row: 1;
        grid-column: 1 / 3;
    }

    main figure.avatar {
        grid-row: 2;
        grid-column: 1;
        margin-left: 40%;
    }

    main article {
        grid-row: 2;
        grid-column: 2;
        padding-right: 1em;
    }
    
    #gallery {
        grid-column: 1 / 3;
    }

    #gallery figure {
        flex: 1 0 29%;
        border: 1px solid var(--secondary-color);
        margin: 1em;
    }

    #my-email-form {
        grid-column: 1 / 3;
    }
}

/* larger screens */
@media screen and (min-width: 1500px) {
    #gallery figure {
        flex: 1 0 20%;
      }
}
